@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  font-family: "Bungee", cursive;
  color: gainsboro;
}

.link {
  border-radius: 1rem;
  border: 4px solid #c0a060;
  background-color: #1e1e2f;
  padding: 1rem;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;

  &:hover {
    border-color: #ffc457;
  }
}
